* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Albert Sans", sans-serif;
}

body {
    background-color: #212123;
    font-family: "Albert Sans", sans-serif;
}

                /* App/Sidebar/Main-Content */
.app {
    display: grid;
    grid-template-columns: 240px 1fr;
    transition: all 0.3s ease-in-out;
    height: 100vh;
}

.sidebar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #1B1B1D;
    height: 100vh;
    overflow-y: auto;
    padding: 0 12px;
    
    
}


.main-content {
    background-color: #212123;
    justify-content: column;
}

hr {
  border: none;
  height: 1px;
  background-color: #212121;
}

                   /* logo */

.logo {
    width: 36px;
    height: auto;
    display: flex;
    cursor: pointer;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: background 0.2s;
}

.logo:hover {
    background: #252525;
}

.header-panel {
    width: 36px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    transition: background  0.2s;
}

.header-panel:hover {
    background: #312f2f;
}


                 /* Sidebar */

.app:has(.sidebar.collapsed) {
    grid-template-columns: 60px 1fr;

}

.sidebar.collapsed .logo{
    display: none;
}

.sidebar.collapsed .menu-section {
    display: none;
}

.sidebar-collapsed .sidebar-trigger{
    justify-content: center;
    align-items: center;
}

.sidebar.collapsed {
    cursor: e-resize;
}


.sidebar.collapsed .sidebar-menu a{
    padding: 8px 0;
    justify-content: center;
    border-radius: 10px;
}


.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed .label-text {
    display: none;
}

.sidebar.collapsed hr{
    display: none;
}


.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;  
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.4);
}

.sidebar-toggle {
    color: #747474;
    width: 20px;
    height: auto;
    cursor: e-resize;
}

.menu-section-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #5A5A5A;
    cursor: pointer;
}

.menu-toggle-icon {
   width: 20px;
   height: auto;
}

.sidebar-menu svg {
    width: 20px;
    height: auto;
}



.sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.sidebar-menu a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    gap: 10px;
    padding: 8px 6px;
    border-radius: 12px;
    color: #ffffff;
}


.sidebar-menu a:hover {
  background-color: #252525;
  transition: background 0.2s ease;
}


/* Main-Content */




/* testes */

.sidebar-trigger {
    display: flex;
    cursor: e-resize;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 8px;
    border: none;
    
}

.sidebar-trigger svg {
    display: block;
    width: 20px;
    height: auto;
    color: #fafafa;
}

.icon-default {
    pointer-events: none;
}

/* Settings-Modal */

.Modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3 ease, visibility 0.3 ease;
}

.Modal.is-open {
    opacity: 1;
    visibility: visible;
}

.modal-content-main{
    background-color: #fff;
    margin: 15vh auto;  
    padding: 25px;
    border-radius: 20px;
    width: 350px;
    transform: scale(0.8) translateY(-20px);
}

.Modal.is-open  .modal-content {
    transform: scale(1) translateY(0);
}


.modal-content-header {
    display: flex;
    justify-content: space-between;
}

.modal-content-main {
    display: flex;
    width: 800px;
    height: 500px;
    margin: 5% auto;
    border-radius: 20px;
    overflow: hidden;
}

.modal-sidebar {
    display: flex;
    background-color: #4f7397;
    flex: 0 0 250px;
    padding: 20px;
    flex-direction: column;
}

.modal-nav-item {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background: transparent;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.modal-body {
    flex: 1;
    padding: 20px;
    position: relative;
    background-color: red;
    overflow-y: auto;
}







