* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Albert Sans", sans-serif;
}

                /* App/Sidebar/Main-Content */
.app {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1B1B1D;
    height: 100vh;
    padding: 0 12px;
}

.main-content {
    background-color: #212123;
}

hr {
  border: none;
  height: 1px;
  background-color: #212121;
}

                   /* logo */

.logo {
    width: 36px;
    height: 36px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: background  .2s;
}

.logo:hover {
    background: #252525;
}

.header-panel {
    width: 36px;
    height: 36px;
    display: flex;
    cursor: e-resize;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: background  .2s;
}

.header-panel:hover {
    background: #252525;
}





                 /* Sidebar */

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;  
}

.sidebar-toggle {
    color: #747474;
    width: 20px;
    height: auto;
    cursor: e-resize;
}

.menu-section-toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #5A5A5A;
    cursor: pointer;
}

.menu-toggle-icon {
   width: 20px;
   height: auto;
}

.sidebar-menu svg {
    width: 20px;
    height: auto;
}

.user-nav, .project-nav {
    padding-bottom: 10px;
}


.sidebar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-menu a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    gap: 10px;
    padding: 8px 6px;
    border-radius: 12px;
    color: #ffffff;
}


.sidebar-menu a:hover {
  background-color: #252525;
  transition: background 0.2s ease;
}


/* Main-Content */

.main-content {
    padding: 55px 20px;
}

/* calendar */

h1 {
    font-size: 15px;
}

h2 {
    font-size: 10px;
    color: #575757;
}

.calendar-card {
    width: 260px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2A2828;
}

.calendar {
    width: 100%;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.calendar-header-titles {
    flex-direction: column;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
}

.calendar-weekdays span {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
}

.calendar-days {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   gap: 6px;
}

.day {
   background-color: #3E3E3D;
   padding: 8px;
   height: auto;
   border-radius: 6px;
   text-align: center;
   font-weight: bold;
   color: #ffffff;
   font-size: 10px;
   cursor: pointer;
   transition: 0.2s;
}

.day:hover {
    background-color: #239b51;
}

.calendar-header-buttons {
    cursor: pointer;
}


/* teste */

.page {
    display: none;
}

.page.active {
    display: block;
}